.a-page{
    background: url(/app/img/background.jpg) no-repeat;
    background-size:100%;
    margin:0px;
}

.a-page__head{
    margin:0 14% 0 14%;
    display:flex;
    justify-content:space-around;
    box-shadow: 3px 1px 2px 1px rgba(0,0,0,0.62);
}

.a-page__headimg{
    background: url(/app/img/head.jpg) no-repeat;
    background-size:100%;
    width:100%;
    height:350px;

}

.b-page{
    margin:0 14% 0 14%;
    display:flex;
    justify-content: space-around;
    box-shadow: 3px 1px 2px 1px rgba(0,0,0,0.62);
}

.b-page__menu{
    width:25%;
    background-color:rgba(0,0,0, .7);
    height:500px;
}

.b-page__menu__title{
    color:white;
    padding:15px;
    text-align:center;
    height:20px;
    width:87%;
    opacity:0.7;
    background-color:#5E5E5E;
    border-radius:5px;
}

.b-page__menuicon{
    display:flex;
    justify-content: space-around;
    height:50px;
    width:100%;
    margin-top:5px;
}

.b-page__view{
    width:75%;
    background-color:rgba(0,0,0, .5);
    height:500px;
}

.b-page__menu__view{
    width:100%;
    font-size:20px;
    color:#111212;
    line-height:4.5;
    margin-top:-30px;
}

.b-page__menu__r{
    background-color:rgba(38, 38, 33, .2);
    height:300px;
    list-style-type: none;
    border:15px solid rgba(64, 64, 50 , .2);
    border-radius:20px;
    box-shadow:3px 1px 2px 1px rgba(0,0,0,0.62);
}


.white{
    color:rgba(255,255,255, .7);
    transition:ease-in-out;
}




.white:hover {
    color:white;
    cursor:pointer;
}



